{% extends "base.html" %}
{% load solo_tags %}
{% block main-class %}page contact{% endblock %}
{% block content %}
{% get_solo 'cms.Site' as single %}
<div class="wrapper">

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if form.errors %}
  <div class="messages">
    <ul class="messages">
      {% for field in form %}
      {% for error in field.errors %}
      <li class="error" >{{field.name}}: {{error | escape}}</li>
      {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
      <li class="error" >{{error | escape}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}


  <div class="rich-text">
    {{single.contact_text | safe}}
    <a href="mailto:{{single.email}}">{{single.email}}</a>
  </div>
  <form class="contact_form" role="form" action="" method="post" autocomplete="on">
    {% csrf_token %}
    <div class="fieldset name">
      <div>
        <label for="contact_name">nombre *</label>
        <input type="text" name="contact_name" placeholder="Fer y Sof" required>
      </div>
      <div>
        <label for="contact_email">correo *</label>
        <input type="email" name="contact_email" placeholder="tu@correo.com" required>
      </div>
    </div>
    <div>
      <label for="contact_message">mensaje *</label>
      <textarea rows="8" cols="50" name="contact_message" placeholder="¡Hola!" required></textarea> 
    </div>

    <div class="captcha-container">
      <label for={{ form.captcha.id_for_label }}>si no eres un robot escribe los caracteres de la imagen *</label>
    <div class="captcha-fields">
    {{ form.captcha }}
    </div>
    </div>


    <div class="enviar fieldset">
      <input class="button-hover-translate-animation" type="submit" value="Enviar">
    </div>
  </form>
</div>
{% endblock %}
