{% extends "base.html" %}
{% block main-class %}page faq{% endblock %}
{% block content %}
<div class="wrapper">
{% for item in object_list %}
  <article class="rich-text faq-item">
    <header>
      <h2>{{ item.question_text }}</h2>
    </header>
    <div class="rich-text">
      {{ item.answer_text | safe }}
    </div>
  </article>
{% endfor %}
</div>
{% endblock %}
