{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block main-class %}page home{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="navigation-wrapper">
  {% include 'partials/navigation.html'%}
</div>
<div class="logo-wrapper">
      {% include 'svg/logo_text.svg'%}
</div>
<div class="home-slider swiper">
  <div class="swiper-wrapper">
    {% for item in i_list %}
    {% with image=item.image %}
    <div class="swiper-slide">
      <picture>
        {% thumbnail image "1920x1080" format="WEBP" as img %}
        <source
          type="image/webp"
          alt="{{item.name}}"
          srcset="
          {{img.url}}
          "
          />
        {% endthumbnail %}
        {% thumbnail image "1920x1080" as img %}
          <source
            type="image/png"
            srcset="
            {{img.url}},
            {{image.url}} 2x
            "
            />
        {% endthumbnail %}
            <img
              alt="{{item.name}}"
              src="{{image.url}}"
              {% if width in image %}width="{{ image.width }}"{% endif %}
              {% if height in image %}height="{{ image.height }}"{% endif %}
              loading="lazy"
              />
      </picture>
    </div>
    {% endwith %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/home.js"%}" charset="utf-8"></script>
{% endblock %}
{% block footer %}{% endblock %}
