{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block main-class %}page category-list-page{% endblock %}
{% block content %}
<div class="layout -grid">
{% for item in object_list %}
  <article class="layout-grid-item">
    <a href="{% url 'catalog' category_slug=item.slug %}">
      <picture>
        {% with main_image=item.image %}
        {% thumbnail main_image "500x500" format="WEBP" as im %}
        <source srcset="{{ im.url }}" type="image/webp">
        {% endthumbnail %}
        {% thumbnail main_image "500x500" format="JPEG" as im %}
        <source srcset="{{ im.url }}" type="image/jpeg">
        <img src="{{ im.url }}" alt="{{item.name}}">
        {% endthumbnail %}
        {% endwith %}
      </picture>
    </a>

    <span>{{ item.name }}</span>
  </article>
{% endfor %}
</div>
{% endblock %}
