{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load humanize %}
{% block main-class %}page detail{% endblock %}
{% block content %}
<article class="detail-item">
  <div class="detail-item-info wrapper">

    {% if form.errors %}
    <div class="messages">
      <ul class="messages">
        {% for field in form %}
        {% for error in field.errors %}
        <li class="error" >{{field.name}}: {{error | escape}}</li>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <li class="error" >{{error | escape}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <header class="detail-item-header" {% if object.discount_perc > 0 %}data-discount=""{% endif %}>
      <h1 class="item-name">{{object.name}}</h1>
      {% if not object.external_shop %}
        {% if object.discount_perc == 0 %}
          {% if object.price > 0 %}
            <span class="item-price">MXN ${{object.price|intcomma}}</span>
          {% endif %}
        {% else%}
          {% if object.price_discounted > 0 %}
            <span class="item-price-wrapper">
              <span class="item-price-real">MXN ${{object.price|intcomma}}</span>
              <span class="item-price-discounted">MXN ${{object.price_discounted|intcomma|floatformat:2}}</span>
            </span>
          {% endif %}
        {% endif %}
      {% endif %}
    </header>

    <div class="detail-item-summary rich-text -small">
      <span>{% if object.diameter > 0 %}{{object.diameter}}Ø x{% endif %}</span>
      <span>{% if object.length > 0 %}{{object.length}} x{% endif %}</span>
      <span>{% if object.width > 0 %}{{object.width}} x{% endif %}</span>
      <span>{% if object.height > 0 %}{{object.height}}h {% endif %}</span>
      <span>cm</span>
      {% if item.summary %}
        {{object.summary | safe}}
      {% endif %}
    </div>

    {% if object.description %}
    <div class="detail-item-description rich-text">
      {{object.description | safe}}
    </div>
    {% endif %}

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}


    {% if object.external_shop %}
      <a target="_blank" rel="noopener noreferrer" href="{{external_shop.link}}" class="button">Disponible en {{ object.external_shop.name }}</a>
    {% else %}
      {% if is_in_cart %}
        {% include 'shop/partials/cart-add-success.html' %}
      {% else %}
        {% include 'shop/partials/cart-add-button.html' %}
      {% endif %}
    {% endif %}

    {% if user.is_staff %}
      <a class="admin-edit-button" href="{% url 'admin:cms_piece_change' object.id %}" target="_blank" rel="noopener noreferrer">editar en admin</a>
    </div>
    {% endif %}

  </div>
  <div class="detail-item-gallery | layout -grid">
    {% for item in object.all_images %}
    {% with image=item.image %}
    <a href="{{image.url}}" class="glightbox | layout-grid-item">
      <picture >
        {% thumbnail image "1000x1000" format="WEBP" as webp %}
        <source srcset="{{ webp.url }}" type="image/webp">
        {% endthumbnail %}
            <img src="{{image.url}}" alt="{{object.name}}" width="{{ image.width }}" height="{{ image.height }}">
      </picture>
    </a>
    {% endwith %}
    {% endfor %}
  </div>
</article>


<div class="wrapper">
  <section class="navigation">
    {% if prev %}
    <a href="{{ prev.get_absolute_url }}?from={{ from_url }}" class="arrow prev">
      <img src="{% static "img/prev.svg"%}" alt="prev">
    </a>
    {% else %}
    <div class="arrow"></div>
    {% endif %}
    <a class="logo" href="{{ from_url }}">
      {% include "svg/logo.svg" %}
    </a>
    {% if next %}
    <a href="{{ next.get_absolute_url }}?from={{ from_url }}"  class="arrow next">
      <img src="{% static "img/next.svg"%}" alt="next">
    </a>
    {% else %}
    <div class="arrow"></div>
    {% endif %}
  </section>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static "js/piece-detail.js"%}" charset="utf-8"></script>
{% endblock %}
