{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load humanize %}
{% block main-class %}page piece-list-page{% endblock %}
{% block content %}

<nav class="piece-category-navigation">
  <ul>
    {% for item in category_list %}
    <li>
      <a
        {% if category_slug == item.slug %} data-selected="" {% endif %}
        href="{% url 'catalog' category_slug=item.slug %}">{{ item.name }}</a>
    </li>
    {% if not forloop.last %}<li>/</li>{% endif %}
    {% endfor %}
  </ul>
</nav>

<div class="layout -grid">
  {% for item in object_list %}
  <article class="layout-grid-item catalog-item">
    <a href="{{ item.get_absolute_url }}?from={{ request.get_full_path }} ">
      {% if item.external_shop %}
        <span class="badge badge-external-shop">{{ item.external_shop.name }}</span>
      {% elif item.status == 'sold'  %}
        <span class="badge badge-out-of-stock">agotado</span>
      {% elif item.discount_perc != 0 %}
        <span class="badge badge-discount">promoción</span>
      {% endif %}

      <picture>
        {% with main_image=item.main_image %}
        {% thumbnail main_image "500x500" format="WEBP" as im %}
        <source srcset="{{ im.url }}" type="image/webp">
        {% endthumbnail %}
        {% thumbnail main_image "500x500" format="JPEG" as im %}
        <source srcset="{{ im.url }}" type="image/jpeg">
        <img src="{{ im.url }}" alt="{{item.name}}">
        {% endthumbnail %}
        {% endwith %}
      </picture>


      <div class="layout-grid-item-info">
        <div class="layout-stack">
          <h3 class="layout-grid-item-title">{{item.name}}</h3>
          {% if not item.external_shop %}
            {% if item.discount_perc == 0 %}
              {% if item.price > 0 %}
                <span class="item-price">MXN ${{item.price|intcomma}}</span>
              {% endif %}
            {% else%}
              {% if item.price_discounted > 0 %}
                <span class="item-price-wrapper">
                  <span class="item-price-real">MXN ${{item.price|intcomma}}</span>
                  <span class="item-price-discounted">MXN ${{item.price_discounted|intcomma|floatformat:2}}</span>
                </span>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        <div class="layout-grid-item-summary rich-text -small">
          <span>{% if item.diameter > 0 %}{{item.diameter}}Ø x{% endif %}</span>
          <span>{% if item.length > 0 %}{{item.length}} x{% endif %}</span>
          <span>{% if item.width > 0 %}{{item.width}} x{% endif %}</span>
          <span>{% if item.height > 0 %}{{item.height}}h {% endif %}</span>
          <span>cm</span>
        </div>
      </div>
    </a>
  </article>
  {% endfor %}
</div>

{% if is_paginated %}
<div class="pagination">
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}{% if querystring %}&amp;{{ querystring }}{% endif %}">
    <img src="{% static "img/prev.svg"%}" alt="prev">
  </a>
  {% else %}
  <span></span>
  {% endif %}
  <ul class="pages">
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="-active"><span>{{ i }}</li>
    {% else %}
    <li><a href="?page={{ i }}{% if querystring %}&amp;{{ querystring }}{% endif %}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}{% if querystring %}&amp;{{ querystring }}{% endif %}">
    <img src="{% static "img/next.svg"%}" alt="next">
  </a>
  {% else %}
  <span></span>
  {% endif %}
</div>
{% endif %}
{% endblock %}
