{% extends "base.html" %}
{% load thumbnail %}
{% block main-class %}page projects{% endblock %}
{% block content %}
<div class="layout -grid">
  {% for item in i_list %} 
  <article class="layout-grid-item">
    <a href="{{item.link}}" target="_blank" rel="noopener noreferrer">
      <picture>
        {% thumbnail item.image "500x500" format="WEBP" as im %}
        <source srcset="{{ im.url }}" type="image/webp">
          {% endthumbnail %}
          {% thumbnail item.image "500x500" format="JPEG" as im %}
          <source srcset="{{ im.url }}" type="image/jpeg">
            <img src="{{ im.url }}" alt="{{item.name}}">
            {% endthumbnail %}
      </picture>

      <div class="layout-grid-item-info layout-stack">
        <h3 class="layout-grid-item-title">{{item.name}}</h3>
        <p>{{item.description}}</p>
      </div>
    </a>
  </article>
  {% endfor %}
</div>
{% endblock %}
