{% extends "base.html" %}
{% block main-class %}page us{% endblock %}
{% block content %}

<picture class="us-img">
  <source srcset="{{ single.image_webp.url }}" type="image/webp">
    <img src="{{single.image.url}}" alt={{single.title}}>
</picture>


<div class="rich-text us-info">
  <h1>{{single.title}}</h1>
  <div class="rich-text">{{single.text | safe}}</div>
</div>
{% endblock %}
