{% extends "base.html" %}
{% load static %}
{% block main-class %}page detail{% endblock %}
{% block content %}
<article class="detail-item">
  <div class="wrapper">


    <header class="detail-item-header">
      <h3>{{object.title}}</h3>
      {% if object.status != 'exp' %}
      <span class="item-price">${{object.price}}</span>
      {% endif %}
    </header>

    {% if object.summary %}
    <div class="detail-item-summary rich-text -small">
      {{object.summary | safe}}
    </div>
    {% endif %}
    {% if object.description %}
    <div class="detail-item-description rich-text">
      {{object.description | safe}}
    </div>
    {% endif %}
  </div>
  <div class="detail-item-gallery">
    {% for image in object.all_images %} 
    <picture>
      <source srcset="{{ image.image_webp.url }}" type="image/webp">
        <img class="glightbox" src="{{image.image.url}}" alt="{{object.name}}" width="{{ image.image.width }}" height="{{ image.image.height }}">
    </picture>
      {% endfor %}
  </div>
</article>

{% endblock %}

{% block scripts %}
<script src="{% static "js/piece-detail.js"%}" charset="utf-8"></script>
{% endblock %}
