{% extends "base.html" %}
{% load thumbnail %}
{% block main-class %}page workshops{% endblock %}
{% block content %}
<div class="layout -grid -xl">
  {% for item in i_list %}
  <article class="layout-grid-item">
    <a href="{% url 'workshop_detail' item.slug %}">
      <picture>
        {% thumbnail item.image "500x500" format="WEBP" as im %}
        <source srcset="{{ im.url }}" type="image/webp">
        {% endthumbnail %}
        {% thumbnail item.image "500x500" format="JPEG" as im %}
        <source srcset="{{ im.url }}" type="image/jpeg">
        <img src="{{ im.url }}" alt="{{item.title}}">
        {% endthumbnail %}
      </picture>

      <div class="layout-grid-item-info layout-stack">
        <h3 class="layout-grid-item-title">{{item.title}}</h3>
        {% if item.summary %}
        <div class="layout-grid-item-summary rich-text -small">
          {{item.summary | safe}}
        </div>
        {% endif %}
        {% if item.status != 'exp' %}
        {% if item.price > 0 %}
        <span>${{item.price}}</span>
        {% endif %}
        {% endif %}
      </div>
    </a>
  </article>
  {% endfor %}
</div>
{% endblock %}
