{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-touch-icon.png"%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon/favicon-32x32.png"%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon/favicon-16x16.png"%}">
    <link rel="manifest" href="{% static "img/favicon/site.webmanifest"%}">
    <link rel="mask-icon" href="{% static "img/favicon/safari-pinned-tab.svg"%}" color="#5bbad5">

    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="{{title}}"/>
    <meta property="og:image" content="{{preview}}"/>
    <meta property="og:site_name" content="{{title}}"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gama-estudio.com/" />
    <meta property="og:description" content="{{description}}"/>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@afk_mario" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:image" content="{{preview}}" />
    <meta name="twitter:url" content="https://gama-estudio.com/" />
    <meta name="twitter:description" content="{{description}}"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43222844-19"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-43222844-19');
    </script>


    <script type="text/javascript" charset="utf-8">var STATIC_PATH = "{% static './' %}"</script>
    <link rel="stylesheet" href="{% static "css/styles.css"%}">
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    {% block scripts %}{% endblock %}

  </head>
  <body id="body" class="{% block body-class %}{% endblock %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block header %}
    {% include "partials/header.html" %}
    {% endblock %}

    <main id="main" class="{% block main-class %}{% endblock %}">
      {% block content %}
      {% endblock %}
    </main>

    {% block footer %}
      {% include "partials/footer.html" %}
    {% endblock %}

    {% block footer-refs %}
    {% endblock %}
  </body>
</html>
