{% load solo_tags %}
{% get_solo 'cms.Site' as single %}

<footer id="footer">
  <div class="wrapper">
    <a href="{{single.facebook}}" target="_blank" rel="noopener noreferrer">facebook</a>
    <a href="{% url 'faq' %}">faq</a>
    <a href="{% url 'contact' %}">contacto</a>
    <a href="{{single.instagram}}" target="_blank" rel="noopener noreferrer">instagram</a>
  </div>
</footer>
