<header id="header" class="">
  <div class="wrapper">
    <a class="logo" href="{% url 'home' %}">
      {% include 'svg/logo_text.svg'%}
    </a>
    {% include 'partials/navigation.html'%}
  </div>
</header>
