<nav class="site-navigation">
  <ul>
    {% for page in menu %}
    <li>
      <a
        class="{% if page.active %} -active{% endif %}{% if page.disable %}-disable{% endif %}"
        href="{{page.url}}"
        >{{page.name}}</a
      >
    </li>
    {% endfor %} {% include 'shop/partials/cart-widget.html'%}
  </ul>
</nav>
