.cart-indicator {
  display: block;
  position: relative;
}

.cart-indicator[data-items-count="0"] {
  display: none;
}

.cart-indicator svg {
  color: var(--gray-03);
  transition: color 0.2s ease;
}

.cart-indicator a svg {
  color: var(--black);
}

.cart-indicator-count {
  border-radius: 50%;
  background-color: var(--red-02);
  color: var(--white);
  padding: var(--margin-01);
  width: 20px;
  height: 20px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, calc(-50% - var(--margin-01)));
}
