.page.cart {
}

.page.cart h1 {
  width: 100%;
}

.page.cart h2 {
  font-size: 1.5em;
  margin: 0;
}

.page.cart section .price {
  font-size: 1.3em;
}

.cart-product-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: var(--margin-01);
}

.cart-product-name-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--margin-01);
}

.cart-product-info {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--margin-01);
}

.cart-product-item[data-status="sold"] .cart-product-price {
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
  text-decoration-color: var(--red-02);
}

.cart-product-item:not(:last-child) {
  margin-bottom: var(--margin-01);
}

.cart-product-item .cart-product-name {
  display: block;
  flex: 1 0 auto;
  margin-right: var(--margin-01);
}

.cart-product-item a {
  color: var(--black);
  text-decoration: underline;
}

.cart-product-list,
.cart-product-shipping {
  padding-bottom: var(--margin-02);
  border-bottom: 2px solid var(--black);
}

.cart-product-list:empty {
  display: none;
}

.cart-product-shipping,
.cart-product-sub-total,
.cart-product-total {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--margin-02);
}

.cart-navigation {
  padding-top: var(--margin-02);
  display: flex;
  flex-flow: row;
}

.cart-navigation .button {
  margin-left: auto;
}

@media (max-width: 700px) {
  .cart-product-item {
    flex-flow: column;
    align-items: flex-start;
  }

  .cart-product-name-wrapper {
    width: 100%;
  }

  .cart-product-info {
    width: 100%;
    justify-content: flex-end;
  }
}
