.category-list-page .layout-grid-item {
  display: flex;
  flex-flow: column;
  gap: var(--margin-01);
  align-items: center;
  justify-content: center;
}

.category-list-page .layout-grid-item span {
  color: var(--black);
  text-align: center;
}
