.order-details {
  display: flex;
  flex-flow: column;
  gap: var(--margin-02);
}

.order-details > section:not(:first-of-type) {
  padding-top: var(--margin-02);
  border-top: 2px solid var(--black);
}

.order-details h1 {
  width: 100%;
}

.order-details h2 {
  font-size: 1.5em;
  margin: 0;
}

.order-product-list {
  display: flex;
  flex-flow: column;
  gap: var(--margin-01);
}

.order-product-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.order-product-item[data-status="sold"] .order-product-price {
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
  text-decoration-color: var(--red-02);
}

.order-product-item .order-product-name {
  display: block;
  flex: 1 0 auto;
}

.order-product-shipping,
.order-product-sub-total,
.order-product-total {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.order-info {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
}

.order-info h2 {
  flex: 1 0 auto;
}

.order-info .rich-text {
  flex: 0 1 auto;
  width: auto;
  margin: 0;
  text-align: right;
}
