.page.contact .rich-text {
  margin-bottom: var(--margin-02);
}

.page.contact form {
  width: 100%;
}

.page.contact .g-recaptcha {
  margin-top: var(--margin-02);
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.page.contact .captcha-container {
  margin-top: var(--margin-02);
  display: flex;
  flex-flow: column;
  gap: var(--margin-01);
}

.page.contact .captcha-fields {
  display: flex;
  flex-flow: row;
  gap: var(--margin-01);
}

.page.contact .captcha-fields img {
  min-height: 0px;
  width: auto;
  height: 40px;
  margin: auto;
  display: block;
}

.page.contact .captcha-fields input {
  flex: 1 1 50%;
}
