* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: var(--font);
}

.wrapper {
  width: 90%;
  max-width: 500px;
  margin: 0 auto 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-color: white white;
  scrollbar-width: thin;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.hide-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 0px solid transparent;
}

main.page {
  margin: auto;
  margin-top: var(--margin-04);
  width: calc(100% - var(--margin-04));
  min-height: 30vh;
  max-width: 1024px;
}

img {
  color: var(--green-01);
  width: 100%;
  height: auto;
  background: var(--gray-01);
  text-align: center;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  font-weight: bold;
  text-transform: uppercase;
}

.item-status,
.item-color {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: var(--margin-01);
}

.item-status.-in-stock,
.item-status.-open {
  background-color: var(--green-02);
}

.item-status.-sold-out,
.item-status.-full {
  background-color: var(--red-02);
}

.item-status.-expired {
  background-color: var(--gray-02);
}

@media screen and (max-width: 700px) {
  .hide-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 700px) {
  .hide-desktop {
    display: none !important;
  }
}
