.detail-item {
  width: 100%;
}

.detail-item .cart-add-success {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--margin-01);
}

.detail-item .cart-add-success .button {
  margin-left: 0;
}

.detail-item .cart-add-success .message {
  flex: 1;
}

.detail-item-info {
  display: flex;
  flex-flow: column;
  gap: var(--margin-01);
}

.detail-item-header {
  font-size: 1.2em;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.detail-item-header[data-discount=""] {
  align-items: flex-start;
  justify-content: space-between;
}

.detail-item-header .item-price {
  margin-left: auto;
  font-size: 1.2em;
  font-weight: 400;
}

.detail-item-header .item-price-wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin-left: auto;
  gap: var(--margin-h);
}

.detail-item-header .item-price-real {
  color: var(--gray-03);
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
  text-decoration-color: var(--gray-03);
}

.detail-item-header .item-price-discounted {
  color: var(--red-02);
  font-size: 1.2em;
  font-weight: 400;
}

.detail-item-header .item-name {
  margin: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.detail-item-summary {
  width: 100%;
  color: var(--gray-03);
  font-style: italic;
}

.detail-item-description {
  margin: 0;
}

.detail-item-gallery {
  max-width: 800px;
  margin: auto;
  margin-top: var(--margin-04);
}

.detail-item-gallery .glightbox {
  cursor: pointer;
}

.detail-item-gallery > *:first-child {
  grid-column: 1 / -1;
}

/* .detail-item-gallery picture:not(:last-child) { */
/*   margin-bottom: var(--margin-02); */
/* } */

.navigation {
  margin-top: var(--margin-04);
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: center;
  font-size: 3em;
}

.navigation a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.2s ease;
  margin: 0;
}

.navigation a:hover {
  color: var(--red-02);
}

.navigation .arrow {
  width: 35px;
  height: auto;
  transition: transform 0.2s ease;
}

.navigation img {
  background: transparent;
  min-height: 0;
}

.navigation .arrow.next:hover {
  transform: translateX(var(--margin-01));
}

.navigation .arrow.prev:hover {
  transform: translateX(calc(var(--margin-01) * -1));
}

.navigation .arrow svg {
  width: 100%;
  height: auto;
}

.navigation .logo {
  margin-right: var(--margin-01);
  margin-left: var(--margin-01);
}

.logo {
  width: 50px;
  height: 70px;
  margin: auto;
}

.logo svg {
  width: 100%;
  height: 100%;
  color: transparent;
  transition: color 0.2s ease;
}

.logo:hover svg {
  color: red;
}

@media screen and (max-width: 700px) {
  .detail-item-header {
    flex-flow: column;
  }

  .detail-item-header .item-name {
    width: 100%;
    margin-bottom: var(--margin-01);
  }

  .detail-item-header .item-price {
    width: 100%;
    margin: 0;
    margin-bottom: var(--margin-01);
  }

  .detail-item-header .item-price-wrapper {
    width: 100%;
    margin: 0;
    margin-bottom: var(--margin-01);
    align-items: flex-start;
  }

  .detail-item-description {
    width: 100%;
  }
}
