.filter-form {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: var(--margin-02);
}

.filter-form > *:not(:last-child) {
  margin: 0;
  margin-right: var(--margin-02);
  flex: 1 1 30ch;
}

.filter-form input[type='submit'] {
  min-width: 100px;
  min-height: 41px;
  margin: 0;
}

@media screen and (max-width: 40em) {
  .filter-form {
    flex-flow: column;
  }
  .filter-form > *:not(:last-child) {
    width: 100%;
    margin-right: 0;
    margin-bottom: var(--margin-02);
    flex: 0 0 auto;
  }
}
