#footer {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  margin-bottom: var(--margin-06);
}

#footer .wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--margin-04);
  padding-right: var(--margin-02);
  padding-left: var(--margin-02);
  border-top: 2px solid var(--black);
}

#footer a {
  padding-top: var(--margin-02);
  transition: color 0.2s ease;
  font-weight: 500;
  color: var(--black);
}

#footer a:hover {
  color: var(--red-02);
}
