form {
  /* max-width: var(--max-width); */
  display: flex;
  flex-flow: column;
  gap: var(--margin-01);
}

.fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--margin-01);
}

.field-wrapper {
}

.fieldset.enviar {
  margin: var(--margin-02) 0 0 0;
}

.fieldset.name {
  /* max-width: var(--max-width); */
}

.fieldset.name input {
  width: 100%;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  resize: vertical;
}

label {
  display: block;
  font-size: 0.9em;
  margin-bottom: var(--margin-01);
}

input,
textarea,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  width: 100%;

  font-family: inherit;
  font-size: inherit;

  flex: 1 0 auto;
  margin: 0 0 0 0;
  padding: var(--margin-01); /* 0 var(--half-margin) 0; */
  border: none;
  box-shadow: none;
  background: var(--gray-02);

  color: var(--black);
  font-size: 1.2em;

  border: 2px solid transparent;
  transition: border 0.2s ease;
}

label:has(+ input:invalid) {
  color: var(--red-02);
}

input:focus,
textarea:focus {
  border-color: var(--red-02);
}

.button,
button,
input[type="submit"] {
  cursor: pointer;
  color: var(--white);
  background: var(--red-02);
  transition:
    border 0.2s ease,
    color 0.2s ease;
  margin: 0;
  margin: auto;
  transition: all 0.2s ease;
  border: none;

  display: block;
  width: auto;

  padding: var(--margin-h) var(--margin-02);

  font-weight: 700;
  font-size: 1.2em;
  border-radius: var(--margin-02);

  margin-right: 0;
  grid-column: 2;
}

button.button-icon {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.button:hover,
button:hover,
input[type="submit"]:hover {
  background-color: var(--red-02-60);
}

.button.-primary,
button.-primary {
  min-width: 100px;
}

.button.-secondary,
button.-secondary {
  padding: 0;
  background: transparent;
  color: var(--red-02);
  text-decoration: underline;
  font-weight: normal;
}

.button.-secondary svg,
button.-secondary svg {
  width: 20px;
  height: 20px;
}

.button.-secondary:hover,
button.-secondary:hover {
  color: var(--red-02-60);
}

.admin-edit-button {
  cursor: pointer;
  color: var(--white);
  background: blue;
  transition:
    border 0.2s ease,
    color 0.2s ease;
  margin: 0;
  transition: all 0.2s ease;
  border: none;

  display: block;
  width: max-content;

  padding: var(--margin-h) var(--margin-02);

  font-size: 1.2em;
  font-weight: 700;
  border-radius: var(--margin-02);

  position: fixed;
  bottom: var(--margin-02);
  right: var(--margin-02);
  margin-left: auto;
}

@media screen and (max-width: 40em) {
  .contact .wrapper {
    width: 90%;
  }

  input,
  textarea {
    flex: 1 0 auto;
    width: 100%;
  }

  button,
  input[type="submit"] {
    max-width: none;
  }

  .fieldset {
    grid-template-columns: repeat(1, 1fr);
  }

  .fieldset input:first-child {
    margin-right: 0;
  }
}
