#header {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  margin-top: var(--margin-06);
}

#header .logo {
  width: 100px;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: var(--margin-04);
}

#header .logo svg {
  width: 100%;
  height: auto;
  display: block;
}
