main.page.home {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  max-width: none;
}

.page.home .navigation-wrapper {
  position: absolute;
  z-index: 100;
  bottom: 0;
  width: 100%;
  /* padding-top: var(--margin-0); */
  padding-bottom: var(--margin-03);
  background: rgba(217, 217, 217, 0.5);
  /* backdrop-filter: blur(1px); */
}

.page.home .site-navigation {
  margin: auto;
  margin-top: var(--margin-04);
  width: calc(100% - var(--margin-04));
  max-width: 1024px;
}

.page.home .site-navigation ul {
  border: none;
}

.page.home .logo-wrapper {
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: clamp(60px, 100%, 200px);
  padding: var(--margin-03);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-self: center;
  background: rgba(217, 217, 217, 0.5);
}

.page.home .logo-wrapper svg {
  width: 80%;
  height: auto;
}

.home-slider {
  width: 100%;
  height: 100%;
}

.home-slider .swiper-slide {
  display: flex;
}

.home-slider .swiper-slide picture {
  width: 100%;
  height: 100%;
}

.home-slider .swiper-slide img {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
}
