.layout.-grid {
  width: 100%;
  display: grid;
  grid-gap: var(--margin-02);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.layout.-grid.-xl {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.layout.-grid .layout-grid-item a {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.layout.-grid .layout-grid-item picture {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
}

.layout.-grid .layout-grid-item .badge {
  position: absolute;
  top: var(--margin-02);
  right: var(--margin-02);
}

.layout.-grid .layout-grid-item .layout-grid-item-info {
  width: 100%;
  min-height: 50%;
  background: var(--white);
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  padding: var(--margin-02);
  transition: transform 0.2s ease;

  display: flex;
  flex-flow: column;
  justify-content: center;

  line-height: 1.3em;
}

.layout.-grid .layout-grid-item .layout-grid-item-info p {
  margin: 0;
}

.layout.-grid .layout-grid-item:hover .layout-grid-item-info {
  transform: translateY(2px);
}

.layout.-grid .layout-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.layout.-grid .layout-grid-item a {
  color: var(--black);
}

.layout.-grid .layout-grid-item-title {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.layout.-grid .layout-grid-item-summary {
  width: 100%;
  margin: 0;
}

.layout.-grid .layout-grid-item .item-price-wrapper {
  display: flex;
  flex-flow: column;
  gap: var(--margin-h);
}

.layout.-grid .layout-grid-item .item-price-real {
  color: var(--gray-03);
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
  text-decoration-color: var(--gray-03);
}

.layout.-grid .layout-grid-item .item-price-discounted {
  color: var(--red-02);
}

.layout-stack {
  display: flex;
  flex-flow: column;
  gap: var(--margin-01);
}

@media screen and (max-width: 700px) {
  .layout.-grid {
    width: 100%;
    display: grid;
    grid-gap: var(--margin-02);
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .layout.-grid .layout-grid-item a {
    aspect-ratio: unset;
  }

  .layout.-grid.-xl .layout-grid-item .layout-grid-item-info {
    padding: var(--margin-02);
  }

  .layout.-grid .layout-grid-item .layout-grid-item-info {
    min-height: 0;
    position: relative;
    transform: none;
    padding: var(--margin-01);
  }

  .layout.-grid .layout-grid-item:hover .layout-grid-item-info {
    transform: none;
  }
}
