.messages {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 0 var(--margin) 0;
  color: white;
  display: flex;
  flex-flow: column;
  gap: var(--margin-01);
}

.message {
  list-style: none;
  font-weight: 500;
  padding: var(--margin-h) var(--margin-02);
  border-radius: var(--margin-02);
  font-weight: 700;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.message.success {
  color: var(--green-02);
  background: var(--green-01);
}

.message.error {
  color: var(--red-02);
  background: var(--red-01);
}
