.site-navigation {
  width: 100%;
  margin: auto;
}

.site-navigation ul {
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding-right: var(--margin-02);
  padding-left: var(--margin-02);
  justify-content: space-between;
  border-bottom: 2px solid var(--black);
}

.site-navigation ul li {
  margin: 0;
}

.site-navigation ul li:not(:last-child) {
  margin-right: var(--margin-02);
}

.site-navigation ul a {
  display: block;
  color: var(--black);
  font-weight: 500;
  transition: color 0.2s ease;
  /* padding-bottom: var(--margin-02); */
}

.site-navigation ul a:hover,
.site-navigation .cart-indicator a:hover svg,
.site-navigation ul a.-active {
  color: var(--red-02);
}
