.page.order-detail {
  display: flex;
  flex-flow: column;
  gap: var(--margin-04);
}

.page.order-detail .wrapper {
  display: flex;
  flex-flow: column;
  gap: var(--margin-04);
}

.page.order-detail .rich-text {
  width: 100%;
}
