.pagination img {
  background: transparent;
  min-height: 0;
}

.pagination {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--margin-04);
}

.pagination .pages {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.pagination .pages a,
.pagination .pages span {
  padding: var(--margin-01);
  color: var(--black);
  transition: color 0.2s ease;
}

.pagination .pages a:hover,
.pagination .pages li.-active span {
  color: var(--red-02);
}

.pagination .pages li:not(:last-child) {
  margin-right: var(--margin-02);
}
