.piece-list-page {
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  gap: var(--margin-02);
}

.piece-list-page .piece-category-navigation ul {
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-01);
}

.piece-list-page .piece-category-navigation a {
  color: var(--black);
}

.piece-list-page .piece-category-navigation a:hover {
  text-decoration: underline;
}

.piece-list-page .piece-category-navigation a[data-selected] {
  color: var(--red-02);
  text-decoration: none;
}
