.page.process-payment {
}

.page.process-payment form {
  margin-top: var(--margin-02);
}

.page.process-payment form input {
  display: block;
  width: 150px;
  height: auto;
  margin-left: auto;
  padding: 0;
  background: transparent;
}

.page.process-payment section .price {
  font-size: 1.3em;
}

.process-payment .wrapper {
  display: flex;
  flex-flow: column;
  gap: var(--margin-02);
}
