.rich-text {
  font-size: 1.13em;
  margin: auto;
}

.rich-text.-small {
  font-size: 1em;
}

.rich-text.-small p {
  margin: 0;
}

.rich-text > :first-child {
  margin-top: var(--margin-01);
}

.rich-text > :last-child {
  margin-bottom: 0;
}

.rich-text.-no-margin > :first-child {
  margin-top: 0;
}

.rich-text ::selection {
  background: var(--red-01);
}

.rich-text ::-moz-selection {
  background: var(--red-01);
}

.rich-text h1 {
  width: 100%;
  text-align: left;
}

.rich-text h2 {
  margin: var(--margin-02) 0 var(--margin-01) 0;
}

.rich-text h3 {
  width: 100%;
}

.rich-text p {
  line-height: 1.3em;
}

.rich-text ul {
  margin: var(--margin-01) 0 var(--margin-01) 0;
  list-style: none;
  padding: 0;
}

.rich-text ul li {
  font-size: 1em;
  line-height: 1.6em;
  margin: 0 0 var(--margin-h) 0;
}

.rich-text ul li:before {
  content: "- ";
}

.rich-text ul li a {
  font-size: 1em;
}

.rich-text ul li p {
  display: inline;
  font-size: 1em;
}

.rich-text p a {
  font-size: 1em;
}

.rich-text p:first-child img {
  display: none;
}
.rich-text blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;
  margin-bottom: var(--margin-01);
}

.rich-text blockquote p {
  margin: 0;
}
.rich-text pre {
  background-color: var(--gray-01);
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin: var(--margin-01) auto var(--margin-01) auto;
}

.rich-text pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}

.rich-text hr {
  height: 0;
  overflow: visible;
  border-color: var(--black);
}

.rich-text code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: var(--gray-01);
  white-space: pre-wrap;
}

.rich-text img {
  max-width: 100%;
  margin: auto;
}

.rich-text a {
  color: var(--red-02);
  text-decoration: none;
  transition: all 0.2s ease;
}

.rich-text a:hover {
  color: var(--red-01);
}

.rich-text iframe {
  width: 100%;
  height: 560px;
  margin-top: var(--margin-01);
}

@media (max-width: 670px) {
  .rich-text ul li {
    width: 100%;
  }
  .rich-text h1 {
    font-size: 1.4em;
  }
  .rich-text h2 {
    font-size: 1.2em;
  }
  .rich-text h3 {
    font-size: 1.1em;
  }
}
