:root {
  --black: #000;
  --white: #fff;

  --gray-01: #eaeaea;
  --gray-02: #e8e8e8;
  --gray-03: #aca6a6;

  --green-01: #c1d8d2;
  --green-02: #117958;

  --red-01: #ffb3b3;
  --red-02: #ff0000;
  --red-02-40: rgba(255, 0, 0, 0.4);
  --red-02-60: rgba(255, 0, 0, 0.6);
  --red-02-80: rgba(255, 0, 0, 0.8);

  --font: 'Roboto', sans-serif;

  --margin-01: 8px;
  --margin-h: calc(var(--margin-01) / 2);
  --margin-q: calc(var(--margin-01) / 4);
  --margin-02: calc(var(--margin-01) * 2);
  --margin-03: calc(var(--margin-01) * 3);
  --margin-04: calc(var(--margin-01) * 4);
  --margin-05: calc(var(--margin-01) * 5);
  --margin-06: calc(var(--margin-01) * 6);
  --margin-10: calc(var(--margin-01) * 10);
  --margin-20: calc(var(--margin-01) * 20);
  --margin-30: calc(var(--margin-01) * 30);
  --margin-40: calc(var(--margin-01) * 40);
}
