{% load humanize %}
<article
  class="cart-product-item"
  data-status="{{item.product.status}}"
>
<div class="cart-product-name-wrapper">
  <h2 class="cart-product-name">
    <a href={{item.product.get_absolute_url }}>{{ item.product.name }}</a>{% if item.product.status == "sold" %} (agotado){% endif %}
  </h2>
  <div class="hide-desktop">
    {% include 'shop/partials/cart-remove-button.html' with object=item %}
  </div>
</div>
  <div class="cart-product-info">
    <span class="cart-product-price price">MXN ${{ item.get_total_cost|intcomma|floatformat:2}}</span>
    <div class="hide-mobile">
      {% include 'shop/partials/cart-remove-button.html' with object=item %}
    </div>
  </div>
</article>
