<li class="cart-indicator" data-items-count="{{cart_items_count}}" hx-get="{% url 'cart_widget' %}"
  hx-trigger="cart-updated from:body" hx-swap="outerHTML">
  <a href="{% url 'cart' %}">
    {% if cart_order.get_cart_items_count > 0 %}
    <span class="cart-indicator-count">{{ cart_order.get_cart_items_count }}</span>
    {% endif %}
    <span>carrito</span>
  </a>
</li>
