{% if object.status == 'stck' %}
<form class="add-to-cart-form" hx-post="{% url 'cart' %}" hx-swap="outerHTML">
  {% csrf_token %}
  <input type="text" name="product_id" value="{{object.id}}" hidden />

  <button type="submit" class="button-buy-pice button-icon">
    <span>agregar al carrito</span>
  </button>
</form>
{% endif %}
