{% load humanize %}
{% with order_items=cart_order.orderitem_set.all %}
<div
  id="cart-details"
  class="wrapper"
  hx-get="{% url 'cart_details' %}"
  hx-trigger="every 10s"
  hx-swap="outerHTML"
>
  <h1>mi carrito</h1>

  {% if order_items|length %}
  <section class="cart-product-list">
    {% for item in order_items %}
    {% include 'shop/partials/cart-row.html' %} 
    {% endfor %}
  </section>

  <section class="cart-product-sub-total">
    <h2>sub total</h2>
    <span class="cart-total-price price"
      >MXN ${{ cart_order.get_subtotal_cost|intcomma }}</span
    >
  </section>

  <section class="cart-product-shipping">
    <h2>envío</h2>
    <span class="cart-shipping-price price"
      >MXN ${{ cart_order.get_shipping_cost|intcomma }}</span
    >
  </section>

  <section class="cart-product-total">
    <h2>total</h2>
    <span class="cart-total-price price">MXN ${{ cart_order.get_total_cost|intcomma }}</span>
  </section>

  <section class="cart-navigation">
    <a class="button" href="{% url 'checkout' %}">continuar al pago</a>
  </section>
  {% else %}
  <h2>está vacío</h2>
  {% endif %}
</div>
{% endwith %}
