{% load humanize %}
{% with shipping_address=cart_order.shipping_address %}
<div class="order-details"
  id="checkout-order-details"
  hx-get="{% url 'checkout_order_details' %}"
  hx-trigger="every 10s"
  hx-swap="outerHTML"
>
  <section class="order-product-list">
    {% for item in cart_order.orderitem_set.all %}
    <article class="order-product-item" data-status="{{item.product.status}}">
      <h2 class="order-product-name">{{ item.product.name }}{% if item.product.status == "sold" %} (agotado){% endif %}
      </h2>
      <span class="order-product-price price">MXN ${{ item.product.price_discounted|floatformat:2|intcomma }}</span>
    </article>
    {% endfor %}
  </section>

  <section class="order-product-sub-total">
    <h2>sub total</h2>
    <span class="cart-total-price price">MXN ${{ cart_order.get_subtotal_cost|floatformat:2|intcomma }}</span>
  </section>

  <section class="order-info">
    <h2>info</h2>
    <div class="rich-text">
      <p>
      {{ cart_order.customer.name }}<br>
      {{ cart_order.customer.rfc }}<br>
      {{ cart_order.customer.phone_number}}<br>
      {{ cart_order.customer.email }}
      </p>

      <p>
      <span>{{ shipping_address.address_01 }} </span><br/>
      {% if shipping_address.address_02 %}<span>{{ shipping_address.address_02 }}</span><br/>{% endif %}
      <span>{{ shipping_address.get_state_display }}</span><br>
      <span>{{ shipping_address.city }}, </span>
      <span>{{ shipping_address.postal_code }}</span>
      </p>
    </div>
  </section>


  <section class="order-product-shipping">
    <h2>envio</h2>
    <span class="cart-shipping-price price">MXN ${{cart_order.get_shipping_cost|floatformat:2|intcomma }}</span>
  </section>

  <section class="order-product-total">
    <h2>total</h2>
    <span class="cart-total-price price">MXN ${{ cart_order.get_total_cost|floatformat:2|intcomma }}</span>
  </section>
</div>
{% endwith %}
