{% extends 'base.html' %}
{% load solo_tags %}
{% block main-class %}page checkout{% endblock %}
{% block content %}
{% get_solo 'cms.Shop' as single %}
<div class="wrapper">
  <div class="rich-text">
    <h1>dirección de envio</h1>
    {{single.checkout_text | safe}}
  </div>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if form.errors %}
  <div class="messages">
    <ul class="messages">
      {% for field in form %}
      {% for error in field.errors %}
      <li class="error" >{{field.name}}: {{error | escape}}</li>
      {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
      <li class="error" >{{error | escape}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}

    <input type="text" name="shipping_address_id" hidden value="{{ form.shipping_address_id.value }}">
    <div class="fieldset">
      <div>
        <label for="name" autocomplete="name">nombre *</label>
        <input type="text" name="name" placeholder="Fer y Sof" value="{{ form.name.value }}" required>
      </div>
      <div>
        <label for="rfc" autocomplete="rfc">RFC *</label>
        <input type="text" name="rfc" placeholder="RFC" value="{{ form.rfc.value }}" required>
      </div>
    </div>
    <div class="fieldset">
      <div class="field-wrapper">
          <label for="{{ form.phone_number.id_for_label }}" autocomplete="phone">teléfono *</label>
          {{ form.phone_number }}
      </div>
      <div class="field-wrapper">
          <label for="email" autocomplete="email">correo *</label>
          <input type="email" name="email" placeholder="tu@correo.com" value="{{ form.email.value }}" required>
      </div>
    </div>

    <div class="field-wrapper">
      <label for="address_01">dirección *</label>
      <input type="text" name="address_01" placeholder="Nombre de la calle" autocomplete="address-line1" value="{{ form.address_01.value }}" required>
    </div>

    <div class="field-wrapper">
      <label for="address_02">casa, apartamento, etc</label>
      <input type="text" name="address_02" placeholder="#6 interior 104" autocomplete="address-line2" value="{{ form.address_02.value }}">
    </div>

    <div class="fieldset">
      <div>
        <label for="postal_code">código postal *</label>
        <input type="text" name="postal_code" placeholder="00000" autocomplete="postal-code" value="{{ form.postal_code.value }}" required>
      </div>
      <div>
        <label for="state">estado *</label>
        <select id="state" name="state" autocomplete="address-level1" required>
          {% if not form.state.value %}<option disabled selected value hidden>Selecciona un estado</option>{% endif %}
          {% for x, y in form.fields.state.choices %}
          <option value="{{ x }}" {% if form.state.value == x %} selected{% endif %}>{{ y }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div>
      <label for="city">ciudad *</label>
      <input type="text" name="city" placeholder="Ciudad De Mexico" autocomplete="address-level2" value="{{ form.city.value }}" required>
    </div>

    <div>

      <label for="references">referencias</label>
      <textarea type="text" name="references" placeholder="Portón de color verde">{{ form.references.value }}</textarea>
    </div>

    <div class="enviar fieldset">
      <input class="button-hover-translate-animation" type="submit" value="continuar al pago">
    </div>
  </form>
</div>

{% endblock %}
