{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load solo_tags %}
{% block main-class %}page order-detail{% endblock %}
{% block content %}
{% with shipping_address=object.shipping_address %}
{% get_solo 'cms.Shop' as single %}
<div class="wrapper">
  <div class="rich-text">
    <h1>¡Gracias por tu compra!</h1>
    {{single.payment_done_open_text | safe}}
  </div>

  <div class="order-details">

    <section class="order-info">
      <h2>info</h2>
      <div class="rich-text">
        <p>
        {{ order.customer.name }}<br>
        {{ order.customer.rfc }}<br>
        {{ order.customer.phone_number}}<br>
        {{ order.customer.email }}
        </p>

        <p>
        <span>{{ order.shipping_address.address_01 }} </span><br/>
        {% if order.shipping_address.address_02 %}<span>{{ order.shipping_address.address_02 }}</span><br/>{% endif %}
        <span>{{ order.shipping_address.get_state_display }}</span><br>
        <span>{{ order.shipping_address.city }}, </span>
        <span>{{ order.shipping_address.postal_code }}</span>
        </p>
      </div>
    </section>

    <section class="order-product-list">
      {% for item in object.orderitem_set.all %}
      <article class="order-product-item">
        <h2 class="order-product-name">{{ item.product.name }}</h2>
        <span class="order-product-price price">MXN ${{ item.product.price_discounted|floatformat:2|intcomma}}</span>
      </article>
      {% endfor %}
    </section>

    <section class="order-product-sub-total">
      <h2>sub total</h2>
      <span class="cart-total-price price">MXN ${{ object.get_subtotal_cost|floatformat:2|intcomma }}</span>
    </section>

    <section class="order-product-shipping">
      <h2>envio</h2>
      <span class="cart-shipping-price price">MXN ${{object.get_shipping_cost|floatformat:2|intcomma }}</span>
    </section>

    <section class="order-product-total">
      <h2>total</h2>
      <span class="cart-total-price price">MXN ${{ object.get_total_cost|floatformat:2|intcomma }}</span>
    </section>
  </div>

  <div class="rich-text">
    {{single.payment_done_close_text | safe}}
  </div>
</div>

<div class="layout -grid">
  {% for item in object.orderitem_set.all %}
    {% for piece_image in item.product.all_images %}
    {% with image=piece_image.image %}
      <picture >
        {% thumbnail image "1000x1000" format="WEBP" as webp %}
        <source srcset="{{ webp.url }}" type="image/webp">
        {% endthumbnail %}
            <img src="{{image.url}}" alt="{{object.name}}" width="{{ image.width }}" height="{{ image.height }}">
      </picture>
    {% endwith %}
    {% endfor %}
  {% endfor %}
</div>

  {% if user.is_staff %}
    <a class="admin-edit-button" href="{% url 'admin:shop_order_change' object.id %}" target="_blank" rel="noopener noreferrer">editar en admin</a>
  </div>
  {% endif %}

{% endwith %}
{% endblock %}
