{% extends 'base.html' %}
{% load solo_tags %}
{% block main-class %}page payment-done{% endblock %}
{% block content %}
{% get_solo 'cms.Shop' as single %}
<div class="wrapper">
  <div class="rich-text">
    {{single.payment_done_open_text | safe}}
  </div>
  <div class="rich-text">
    {{single.payment_done_close_text | safe}}
  </div>
</div>
{% endblock %}
