{% extends 'base.html' %}
{% load solo_tags %}
{% block main-class %}page payment-cancelled{% endblock %}
{% block content %}
{% get_solo 'cms.Shop' as single %}
<div class="wrapper">
  <div class="rich-text">
    {{single.payment_cancelled_text | safe}}
  </div>
</div>
{% endblock %}
