{% extends 'base.html' %}
{% load static %}
{% load solo_tags %}
{% block main-class %}page process-payment{% endblock %}
{% block content %}
{% get_solo 'cms.Shop' as single %}
<div class="wrapper">

  <div class="rich-text">
    <h1>confirma la orden</h1>
    {{single.review_order_text | safe}}
  </div>

  {% include 'shop/partials/checkout-order-details.html' %}

  <div id="paypal-button-container"></div>

</div>
{% endblock %}

{% block scripts %}
{% if cart_order %}
<script>
  const PAYPAL_CLIENT_ID = '{{ PAYPAL_CLIENT_ID }}';
  const PAYPAL_CREATE_ORDER_URL = '{% url 'paypal_create_order' %}';
  const PAYPAL_VERIFY_ORDER_URL = '{% url 'paypal_verify_order' %}';
  const PAYPAL_CAPTURE_ORDER_URL = '{% url 'paypal_capture_order' %}'; 
  const PAYMENT_DONE_URL = '{% url 'order_details' cart_order.id %}';
  const PAYMENT_CANCELLED_URL = '{% url 'payment_cancelled' %}';
</script>
<script src="{% static "js/process-payment.js" %}" charset="utf-8"></script>
{% endif %}
{% endblock %}
